
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .split-container {
       display: flex;
    }
    
    .left-half, .right-half {
        flex: 0 0 50%; /* Lock each to exactly 50% */
        max-width: 50%; /* Prevent expansion beyond 50% */
        box-sizing: border-box;
        padding: 0px; /* or any fixed padding you like */
        padding-left: 30px;
        padding-right: 30px;
        overflow: auto; /* or hidden, if you want to clip big content */
    }
    
    .plot-container {
       margin-bottom: 20px;
    }




.plot-container {
width: 100%;
margin-bottom: 10px;
}

.header-bar {
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 0px;
}


.nav-container {
background-color: #ffffff;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
}

.nav-name {
font-size: 14px;
font-weight: normal;
color: #000000;
}

.nav-links {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

.nav-links li {
margin-left: 20px;
}

.nav-links li a {
color: #007bff; 
text-decoration: underline; 
font-size: 14px;
padding-bottom: 5px;
position: relative;
}





body {
    transition: background-color 0s, color 0.1s;
}

.dark-mode {
    background-color: #000000 !important;
    color: #000000 !important;
}


.filter-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}


.filter-buttons > button{
    font-size: 13px;
    display: flex;
    gap: 10px;
    z-index: 1000;
}




.three-scenarios > div { 
    background-color: #f5f5f5 !important;
    margin: 20px 20px;  
    padding: 20px;  
    width: auto;
    height: auto;
    border-radius: 5px; 
}


.plot-pair > div{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    margin: 10px; 
    padding: 250px;
    width: 100%;        
    max-width: 100%;  
    box-sizing: border-box; 
    height: auto;
    border-radius: 5px;
}


.cooler-text {
    margin-left: 50px !important;
    margin-top: 30px !important;
}

.emphasis {
    font-weight: bold;
    text-decoration: underline;
    color: #700000;  /* Using your accent color from the plots */
}

